body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px 20px;
}

header {
    margin-bottom: 50px;
}

header h1 {
    font-size: 48px;
    color: #4285f4;
}

header p {
    font-size: 18px;
    color: #555;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    background-color: #4285f4;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.button.secondary {
    background-color: #0d47a1;
}

.button:hover {
    background-color: #4f8ae9;
}

main .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main .intro img {
    width: 250px; /* Ajusta el tamaño de la imagen aquí */
    margin: 20px;
}

main .intro-text {
    max-width: 600px;
    text-align: left;
    margin: 20px;
}

main .intro-text h2 {
    font-size: 28px;
    color: #4285f4;
}

main .intro-text p {
    font-size: 16px;
    color: #555;
}

.role-img {
    width: 300px; /* Ajusta el tamaño de las imágenes aquí */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

.role-img:hover {
    transform: scale(1.1);
}

.role-selection{
    padding-bottom: 20px;
    padding-top: 20px;
}

.module-img {
    width: 150px; /* Ajusta el tamaño de las imágenes aquí */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
    margin: 10px
}

.module-img:hover {
    transform: scale(1.1);
}

.module-selection{
    padding-top: 20px;
    padding-bottom: 20px;
}

.module-header {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre la imagen y el texto */
    margin-bottom: 20px; /* Espacio debajo del header */

}

.module-logo{
    width: 60px; /* Ajusta el tamaño de las imágenes aquí */
    height: auto;

}

.module-title {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #4285f4;
}


.coomingsoon-img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

@media (max-width: 1000px) {
    .coomingsoon-img {
        transform: rotate(90deg);
        width: 100%;  /* Aumenta el tamaño al 100% en pantallas pequeñas */
        height: auto;
    }
}

.coomingsoon-container {
    text-align: center;
    padding: 50px 20px;       
    justify-content: center;
}


.separator {
    margin: 50px 0; /* Ajusta el valor para el espacio deseado */
}

.teacher-view {
    text-align: left;
    margin: 20px;
}

.teacher-view h2 {
    font-size: 28px;
    color: #4285f4;
    margin-bottom: 10px;
}

.teacher-view p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.teacher-view ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #555;
}

.teacher-view li {
    margin-bottom: 10px;
}

.button.social-button {
    background-color: #4285f4;
    border-radius: 25px;
    transition: background-color 0.3s;
    color: #fff;
}

.button.social-button:hover {
    background-color: #4285f4;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}