body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px 20px;
}

header {
    margin-bottom: 50px;
}

header h1 {
    font-size: 48px;
    color: #4285f4;
}

header p {
    font-size: 18px;
    color: #555;
}

.buttons {
    margin-top: 20px;
}

.button2 {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    background-color: #d8e7ff;
    color: #4285f4;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
    width: 110px;
    font-weight: bold;
}


.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    background-color: #4285f4;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.button.secondary {
    background-color: #0d47a1;
}

.button:hover {
    background-color: #4f8ae9;
}

main .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main .intro img.lerni {
    width: 250px; /* Ajusta el tamaño de la imagen de Lerni aquí */
    margin: 20px;
}

main .intro img.logo {
    width: 100px; /* Ajusta el tamaño de la imagen del logo aquí */
    margin: 20px;
}

main .intro-text {
    max-width: 600px;
    text-align: left;
    margin: 20px;
}

main .intro-text h2 {
    font-size: 28px;
    color: #4285f4;
}

main .intro-text p {
    font-size: 16px;
    color: #555;
}

.role-img {
    width: 300px; /* Ajusta el tamaño de las imágenes aquí */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

.role-img:hover {
    transform: scale(1.1);
}

.role-selection {
    padding-bottom: 20px;
    padding-top: 20px;
}

.module-img {
    width: 150px; /* Ajusta el tamaño de las imágenes aquí */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
    margin: 10px;
}

.module-img:hover {
    transform: scale(1.1);
}

.module-selection {
    padding-top: 20px;
    padding-bottom: 20px;
}

.module-header {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre la imagen y el texto */
    margin-bottom: 20px; /* Espacio debajo del header */
}

.module-logo {
    width: 60px; /* Ajusta el tamaño de las imágenes aquí */
    height: auto;
}

.module-title {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #4285f4;
}

.coomingsoon-img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

@media (max-width: 1000px) {
    .coomingsoon-img {
        transform: rotate(0deg);
        width: 100%;  /* Aumenta el tamaño al 100% en pantallas pequeñas */
        height: auto;
    }
}

.coomingsoon-container {
    text-align: center;
    padding: 20px 20px;       
    justify-content: center;

}

.separator {
    margin: 50px 0; /* Ajusta el valor para el espacio deseado */
}

.teacher-view {
    text-align: left;
    margin: 20px;
}

.teacher-view h2 {
    font-size: 28px;
    color: #4285f4;
    margin-bottom: 10px;
}

.teacher-view p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.teacher-view ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #555;
}

.teacher-view li {
    margin-bottom: 10px;
}

.button.social-button {
    background-color: #4285f4;
    border-radius: 25px;
    transition: background-color 0.3s;
    color: #fff;
}

.button.social-button:hover {
    background-color: #357ae8;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.quiz-container {
    text-align: center;
    margin: 40px 0;
}

header img.gorro {
    width: 100px; /* Ajusta el tamaño de la imagen del gorro aquí */
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main .intro-text2 {
    max-width: 600px;
    text-align: justify; /* Centrar el texto */
    margin: 20px auto;
}
.intro-text2 h2{
    text-align:center;
}

main .quiz {
    width: 300px; /* Ajusta el tamaño de la imagen del quiz aquí */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center; /* Cambiado a center */
}

.form-group {
    margin-bottom: 20px;
    text-align: left; /* Cambiado a center */
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.form-group input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 90%;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background-color: #4285f4;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    align-items: center;
}

.form-group button:hover {
    background-color: #4f8ae9;
}

.request-code-link {
    display: inline-block;
    margin: 10px auto; /* Centrar el enlace */
    color: #4285f4;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.request-code-link:hover {
    text-decoration: underline;
}
